{% extends 'base.html.twig' %}

{% block body %}
    <div>{{ content|raw }}</div>

    <ul>
    {% for page in pages %}
        <li>
            <a href="{{ page.path }}">{{ page.title }}</a>
        </li>
    {% endfor %}
    </ul>

    <h2>Latest posts</h2>
    <div>
    {% for post in posts %}
         <article>
            <h3>
                <a href="posts/{{ post.slug }}">{{ post.title|capitalize }}</a>
            </h3>
            <div id="metadata">
                <span class="published">Published {{ post.published }}</span>
                <span class="author">by {{ post.author }}</span>
            </div>
        </li>
    {% endfor %}
    </div>
{% endblock %}
