{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1>Posts</h1>

    <div>{{ content|raw }}</div>

    <div>
    {% for post in posts %}
         <article>
            <h2>
                <a href="posts/{{ post.slug }}">{{ post.title|capitalize }}</a>
            </h2>
            <div id="metadata">
                <span class="published">Published {{ post.published }}</span>
                <span class="author">by {{ post.author }}</span>
            </div>
        </li>
    {% endfor %}
    </div>

    <a href="/">Back to start</a>
{% endblock %}
